<%- include('../partials/header') %>
<<<<<<< HEAD
<h1>Welcome to the Westridge College Fair!</h1>
=======
<h1>Login to the Westridge College Fair</h1>
>>>>>>> parent of aa390b7 (Front end update)
<div class="login-grid">
  <div class="card">
    <h2>Student Login</h2>
    <form method="POST" action="/login/student">
      <label>Name</label>
      <input name="name" required>

      <label>Student ID</label>
      <input name="studentId" required>

      <button class="btn">Login</button>
    </form>
  </div>

  <div class="card">
    <h2>Admin Login</h2>
    <form method="POST" action="/login/admin">
      <label>Email</label>
      <input name="email">

      <label>Password</label>
      <input type="password" name="password">

      <button class="btn">Login</button>
    </form>
  </div>
</div>

<%- include('../partials/footer') %>