<%- include('../partials/header') %>

<h1>Create Admin Account</h1>
<div class="card">
  <form method="POST" action="/admin/register">
    <input type="hidden" name="token" value="<%= token %>">

    <label>Name</label>
    <input name="name" required>

    <label>Email</label>
    <input name="email" required>

    <label>Password</label>
    <input type="password" name="password" required>

    <button class="btn">Create Account</button>
  </form>
</div>

<%- include('../partials/footer') %>