<%- include('../partials/header') %>

<h1>Admin Dashboard</h1>
<div class="admin-grid">
  <a href="/admin/colleges" class="admin-card">
    <h2>Manage Colleges</h2>
    <p>Edit college information and upload logos.</p>
  </a>

  <a href="/admin/students" class="admin-card">
    <h2>Student Engagement</h2>
    <p>See which colleges students are visiting.</p>
  </a>
</div>

<%- include('../partials/footer') %>