<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Campus Event Manager</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header class="topbar">
  <div class="logo">
    🎓 Campus Event Manager
  </div>
  <nav>
    <% if (currentUser) { %>
      <% if (role === "student") { %>
        <a href="/student">Dashboard</a>
        <a href="/student/profile">My Colleges</a>
      <% } %>

      <% if (role === "admin") { %>
        <a href="/admin">Admin</a>
      <% } %>

      <a href="/logout">Logout</a>
    <% } %>
    </nav>
</header>
<main class="container">