<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message Sent</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Message Sent!</h1>

  <p>Thank you for contacting us.</p>

  <a href="/" class="button-link">Return Home</a>
  <a href="<%= email %>" class="button-link">See the email</a>
</body>
</html>